@model IEnumerable<SampleMVCProject.Models.Student>

@{
    ViewBag.Title = "StudentDetails";
}

<table class="table">
    <tr>
        <th>
            id
        </th>
        <th>
            Name
        </th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
        </tr>

    }
</table>